body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.fancy-bg {
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
}

main {
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
  background-color: #333;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
  transition: background-color 0.25s;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.game-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem;
  text-align: left;
  overflow-y: auto;
  max-height: 80vh;
  overflow-x: hidden;
  scrollbar-width: none;
  /* For Firefox */
}

.game-card::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

.game-card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.game-card p {
  color: #666;
}

.game-card button {
  margin-top: 1rem;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-card button:hover {
  background-color: #535bf2;
}